body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;
    color: yellow;
    margin: 0;
}

.gameScreen{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    width: 100%; 
    height: 100vh;
}
h1{
font-size: 3rem;
}
h2{
color: yellow;
font-size: 1rem;
margin: 0;
}
canvas{
    background: url(img/5_background/layers/air.png);
}

/* Smartphones -----------------------------*/
@media only screen and (max-width: 720px){
    canvas{
        width: 100%;
    }
}

@media only screen and (max-height: 480px){
    canvas{
        height: 100vh;
        width: 100%;
    }
}